@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	#table2 > table, thead, tbody, th, td, tr { 
		display: block;
			
	}
	
	#table2 > tbody, td{
		border: 1px solid black; 	
	}
	
	
	#table2 > td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	#table2 > td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
    #wrap {
		display:block !important;
	}
}


  
#table2 > tbody, td{
	border: 1px solid black; 	
}

#wrap {
  display: flex;
}

#ritch {
	padding-right:50px;	
}

#dan {
flex:2;
}

#pfoto{
	height:200px;
}