.top-bar, .top-bar ul {
  background-color: #C6002A;
}

.menu > li > a {
  color: white;
}

h5.subtitle {
  color: #c6002a;
}
h5.subtitle-short {
  color: #c6002a;
  font-size: 1rem;
}
h6 {
  font-size: 1.25rem;
}

ul {
  list-style-type: none;
}